process {
    publishDir = [
        path: { "${params.output_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'BRACKEN|EXTRACT_TAXON_SPECIFIC_INFO|COMBINE_BRACKEN_FILES_FROM_TAXA|COMBINE_BRACKEN_KRAKEN_REPORT_FROM_TAXA|COMBINE_UNCLASSIFIED_LOGS|EXTRACT_UNCLASSIFIED_INFO_FROM_BRACKEN_LOG' {
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
        ]
    }

}