// profiles {

//    standard {
//       includeConfig 'base.config'
//       process.executor = 'local'
//       conda.enabled = true
//        process {
//          withName: BRACKEN{
//                conda = "${baseDir}/bracken_env.yml"
//          }
       
//       }

//    }

// }

profiles {
   debug { process.beforeScript = 'echo $HOSTNAME' }
 
   conda {
      conda.enabled          = true
      conda.channels         = ['conda-forge', 'bioconda']
      docker.enabled         = false
      singularity.enabled    = false
      podman.enabled         = false
      shifter.enabled        = false
      charliecloud.enabled   = false
   }

   slurm {
      process.executor = 'slurm'
      process.queue    = 'normal'              // Your default SLURM queue/partition
      process.clusterOptions = ''               // Global SLURM options (e.g., '--account=myaccount')
      
      executor {
         name = 'slurm'
         queueSize = 100                       // Max jobs to submit at once
         pollInterval = '30 sec'               // How often to check job status
         dumpInterval = '5 min'                // How often to save job state
         submitRateLimit = '50/1min'           // Optional: rate limit job submission
         }
   }
}
